.fundo{
    background-image: url('https://i.pinimg.com/564x/84/7f/a2/847fa2e9baa5e2af8b6e611310f5c878.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    outline: 1px solid #fff;
    min-height: 80vh;
}

.tenis1 {background-image: url('https://i.pinimg.com/736x/ef/80/8e/ef808ef13b975f9a48512a58b2902395.jpg');}
.tenis2 {background-image: url('https://i.pinimg.com/736x/6a/7f/36/6a7f365a8207e179d13e6aed670a40d1.jpg');}
.tenis3 {background-image: url('https://i.pinimg.com/736x/84/e3/a6/84e3a6a70028c95d0897eb223946c306.jpg');}
.tenis4 {background-image: url('https://i.pinimg.com/736x/a5/72/35/a57235db0571c7ac268571337881a387.jpg');}

.puma {background-image: url('https://i.pinimg.com/736x/bc/2a/ba/bc2aba30b939227c973ec7083f3b66cd.jpg');}

ion-card{
    height: 100%;
}